<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @platform.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @platform.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @platform.address %>
</p>

<p>
  <strong>Logoref:</strong>
  <%= @platform.logoRef %>
</p>

<%= link_to 'Back', platforms_path %>
